<html ng-app="myApp"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/Home.css" rel="stylesheet" type="text/css">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">บจก.ไพวัลย์ขนส่งเชียงใหม่-แม่ฮ่องสอน</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">หน้าแรก&nbsp;<i class="et-down fa fa-angle-double-down fa-lg"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="About.html">เกี่ยวกับเรา</a>
                </li>
                <li>
                  <a href="UserLogin.html">Supervisor &amp; User Login</a>
                </li>
                <li>
                  <a href="Checkstatus.html">ตรวจสอบสถานะ</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Supervisor&nbsp;<i class="fa et-down fa-angle-double-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="UserManagement.html">จัดการข้อมูล User </a>
                </li>
                <li>
                  <a href="Backorder.html">รายงานสินค้าค้างส่ง</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User&nbsp;<i class="fa et-down fa-angle-double-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                
                <li>
                  <a href="Receipt.html">บันทึกใบรับสินค้า</a>
                </li>
                <li>
                  <a href="Searchcustomer.html">ค้นหาข้อมูลลูกค้า</a>
                </li>
                <li>
                  <a href="Orderstatus.html">ตรวจสอบสถานะสินค้าและการจัดส่ง</a>
                </li>
                <li>
                  <a href="Scanbarcode.html">Scan Barcode</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
</head>
<body ng-controller="AppCtrl">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>บันทึกใบรับสินค้า</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" role="form" name="receiptForm"  novalidate>
              
              




        
       
<div  >
  

  <p></p><div class="col-sm-5">
Search <input Type="text" ng-model="search">
      
      
                      <select ng-model="receipt" id="customername"  ng-options="list.name+' '+list.surname for list in customerlist 
                      | filter:search">
                      <option value ="">Choose a name</option>
                      </select>
</div>
<a href="./Customermaster.html"  class="btn btn-sm btn-success text-center" type="button">Add new customer!</a>
                    <br></br>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.sendername.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">ชื่อผู้ส่ง</label>
                </div>
                <div class="col-sm-10">

                  <input  name="sendername" class="form-control" id="copycustomername"  ng-model="receipt.name"  required>

                  
                  <p ng-show="receiptForm.sendername.$invalid" class="help-block">Please select sender </p>

                 
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.sendertel.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">เบอร์โทรผู้ส่ง</label>
                </div>
                <div class="col-sm-10">
                  <input name="sendertel" class="form-control"  ng-model="receipt.tel" required>
                  <p ng-show="receiptForm.sendertel.$invalid" class="help-block">Please input sender number</p>
                </div>
              </div>
 </div>


              <div class="form-group" ng-class="{ 'has-error' : receiptForm.date.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">วันที่</label>
                </div>
                <div class="col-sm-10">
                  <input name="date" type = "date" class="form-control"  ng-model="receipt.dateuser" required>
                  <p ng-show="receiptForm.date.$invalid" class="help-block">Please select Date</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.time.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">เวลา</label>
                </div>
                <div class="col-sm-10">
                  <input name="time" type = "time" class="form-control"  ng-model="receipt.time" required>
                  <p ng-show="receiptForm.time.$invalid" class="help-block">Please input time</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.receivename.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">ชื่อผู้รับ</label>
                </div>
                <div class="col-sm-10">
                  <input name='receivename' class="form-control"  ng-model="receipt.desname" required>
                  <p ng-show="receiptForm.receivename.$invalid" class="help-block">Please input name</p>
                </div>
              </div>
               <div class="form-group" ng-class="{ 'has-error' : receiptForm.contactnumber.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">เบอร์โทรผู้รับ</label>
                </div>
                <div class="col-sm-10">
                  <input name="contactnumber" class="form-control"  ng-model="receipt.destel" required>
                  <p ng-show="receiptForm.contactnumber.$invalid" class="help-block">Please input contact number</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.address.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">ที่อยู่ปลายทาง</label>
                </div>
                <div class="col-sm-10">
                  <input name="address" class="form-control"  ng-model="receipt.desaddress" required>
                  <p ng-show="receiptForm.address.$invalid" class="help-block">Please input Address</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">ประเภทการจัดส่ง</label>
                </div>
                <div class="col-sm-10">
                  <input  class="form-control"  ng-model="receipt.type">
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.item.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">รายการสินค้า</label>
                </div>
                <div class="col-sm-10">
                  <input name="item" class="form-control"  ng-model="receipt.itemdescription" required>
                  <p ng-show="receiptForm.item.$invalid" class="help-block">Please input Item</p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.quantity.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">จำนวน</label>
                </div>
                <div class="col-sm-10">
                  <input name="quantity" type = "number"   class="form-control"  ng-model="receipt.quantity" required>
                  <p ng-show="receiptForm.quantity.$invalid" class="help-block">Please input quantity</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">น้ำหนัก</label>
                </div>
                <div class="col-sm-10">
                  <input name = "weight" type = "number" class="form-control"  ng-model="receipt.weight">
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : receiptForm.price.$invalid }">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">ราคาค่าขนส่ง</label>
                </div>
                <div class="col-sm-10">
                  <input  name="price" type = "number" class="form-control"  ng-model="receipt.price" required>
                  <p ng-show="receiptForm.price.$invalid" class="help-block">Please input price</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">ประเภทการชำระเงิน</label>
                </div>
                <div class="col-sm-10">
                  <input  class="form-control"  ng-model="receipt.paymenttype">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">หมายเหตุ</label>
                </div>
                <div class="col-sm-10">
                  <input  class="form-control"  ng-model="receipt.remark">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">ฝากเก็บเงิน</label>
                </div>
                <div class="col-sm-10">
                  <input  class="form-control"  ng-model="receipt.billing">
                </div>
              </div>
              <td><input type="submit" ng-disabled="receiptForm.$invalid" ng-click=addReceipt() value="Add Receipt" class="btn btn-info" ></input></td>
            </form>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="controllers/ReceiptCtrl.js"></script>
  

</body></html>